<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>

h1, h2, h3, h4, h5, h6 {
    font-family: open sans,sans-serif!important;
    font-weight: lighter!important;
    text-transform: uppercase!important;
    letter-spacing: 3px!important;
}

.post-content h3 {
    margin-top: 1em!important;
}

body {
    font-family: open sans,sans-serif!important;
    font-weight: lighter!important;
}

#site-head h1 {
    font-weight: lighter!important;
    letter-spacing: 10px!important;
}

#site-head .blog-description, #site-head.withCenteredImage .blog-description {
    font-family: open sans,sans-serif!important;
    letter-spacing: 3px!important;
}

#site-head a.btn, #site-head.withCenteredImage a.btn {
    background-color: var(--highlight);
    color: var(--highlight-contrast);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family: open sans,sans-serif;
    font-weight: normal;
}

#blog-logo {
    max-height: 150px!important;
}

.fixed-nav {
  border-radius:0!important;
  font-family: open sans,sans-serif!important;
  font-weight: initial!important;
  line-height: 150%!important;
}

a.fn-item.active {
    color: var(--highlight);
}

.page-template .post-header {
  padding: 0!important;
  margin: 60px 0!important;
}

.post.first .post-header {
    display: none;
}

.post-content img[alt $= "-left-200"] {
    float: right;
    width: 33%;
    margin: 10px;
    border-radius: 50%;
}

:root {
    /* see variables.scss for more variables*/

    --cover-text-color: #f2efe8!important;
    --cover-title-text-shadow: #333 0px 0px 7px!important;
    --highlight: #800000;
    --highlight-contrast: #ddd;
    --highlight-inverse: darkgoldenrod;
    --section-dark-bg-color: #3a4145;
    --footer-color: var(--section-dark-text-color);
    --footer-color-background: var(--section-dark-bg-color);
    --sticky-menu-text-color: darkgoldenrod;

    /*
    --section-light-text-color: #3a4145!important;
    --section-light-bg-color: #ffdb8c!important;
    --section-dark-bg-color: #035e00!important;
    */

     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
     /*--ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     /*--ul-li-icon: ;                /* this sets the default html list icon */
}
</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
